<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request counter</title>
</head>
<body>
    <h1>Request counter</h1>
    <p>Counted requests: </p>
    <p>
        <ul>
            {% for key in counter %}
                <li>{{ key }}: {{ counter[key] }}</li>
            {% endfor %}
        </ul>
    </p>
    <p>
        <form action="/request-counter", method="get">
            <input type="submit" value="Send GET request">
        </form>
    </p>
    <p>
        <form action="/request-counter", method="post">
            <input type="submit" value="Send POST request">
        </form>
    </p>
</body>
</html>